        <br>
        <h1 class="headerblue text-center">
                Welcome, Blue Crew
            </h1>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Blue personalities wear their heart on their sleeve, and care deeply about feelings. They care about interpersonal relationships, and how the team dynamic functions. They are deeply sympathetic to other people unhappiness.
                            They want everybody to get along, and they do a great job of checking in. They have a strong intuition, and it guides them well.  They know that people need encouragement to succeed, and are always ready to be an encouraging force.
                        <br>
                        <br>
                            Sometimes being sensitive can get in the way of accomplishing a task. It’s important to separate yourself from negative situations, and remember that sometimes relationships will be strained, but you still have to move forward.
                            It is okay to worry about others, and it’s okay to worry about yourself, but it’s not okay to let that get in the way of taking action. Blue people show be careful and assess whether or not they are letting emotions rule outcomes.
                        <br>
                        <br>
                            <strong class="characteristics text-center">Characteristics : </strong>
                            <strong>Positive : </strong> Sympathetic, Harmony Seeker, Enthusiastic, Encouraging, Creative. 
                            <strong>Negative : </strong> Naive, Overly Emotional, Smothering, Ignores Policy.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="BlueSpotify text-center">
                            Blue Crews Tunes
                        </h1>
                        <br>
                        <iframe src="https://open.spotify.com/embed/album/6VhDYmsjHqRxKXd0z7hmXI" width="1100" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin: auto"></iframe>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="bluevideos text-center">Cool Visuals for your Blue Eyes.</h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        <div class="container">
            <footer class="text-center">
                Copyright: All Rights Reserved
            </footer>
            <br>
        </div>