<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Detailed Results & Helpful Resources for YOU!</h5>
          <p>
            <strong>Color:</strong> {{colorstable.colorstable}}</p>
          <p>
          <p>
            <strong>Details:</strong> {{colorstable.name}}</p>
          <p>
            <strong>Resources:</strong> {{colorstable.Details}}</p>

          <div class="artist">(Spotify formatting coming soon!)<br> Artist: </div>
          <div class="album">Album:</div>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
