        <br>
        <h1 class="headergold text-center">
                Congratulations, You've struck Gold.
            </h1>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p> Gold personalities are hard working achievers who prepare for the future. They are people who are on time, and care that others are on time. Time is very important to these people because they know that what is being accomplished in the present will set them up for the future.
                            People who have strong gold personality traits like to be in positions of respect and authority. They know that the way to accomplish this is by honoring commitments, and staying structured and organized. If you’re a gold personality, there’s not much that you’ll allow to get in your way, and you’re the one responsible enough to pull through.
                            You want to be the boss.  Even if you are not the boss, people reference your work ethic.
                        <br>
                        <br>
                            Don’t be afraid to give yourself a break, Gold ! It is important to allow room for flexibility. You are a deeply loyal person to those who have proven they value your energy and time. Not everything will go your way, and you might have some trouble letting things go.
                            Remember to be flexible, because you might find yourself needing to improvise or compromise. It’s hard to see an investment not turn out, but it will be okay. It does not mean that things will not work out in general, or that you didn’t pull through for yourself.
                        <br>
                        <br>
                            <strong class="characteristics text-center">Characteristics : </strong>
                            <strong>Positive : </strong> Organized, Dedicated, Responsible, Ambitious, Punctual, Reliable.
                            <strong>Negative : </strong> Rigid, Judgemental, Bossy, Predictable.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="OrangeSpotify text-center">
                            Spotify Playlists For The Gold Crew
                        </h1>
                        <br>
                        <iframe src="https://open.spotify.com/embed/album/59ePhOhLFvSOFG4L5FRGzp" width="1100" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin: auto"></iframe>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="goldvideos text-center">Check out what's trending in the Gold Commmunity</h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        <div class="container">
            <footer class="text-center">
                Copyright: All Rights Reserved
            </footer>
            <br>
        </div>