        <br>
        <h1 class="headergreen text-center">
                Hey, Welcome to the Green Team !
            </h1>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Green Personalities are people who think outside of the box. They are high intellect, and very curious. They question authority because they care about why and how something is right, and how something can be improved. In life, they will strive for a deeper understanding of the world around them. 
                            They invest a lot of focus into the future, and love to think about what lies ahead. They believe work is play, and can be oblivious to emotions, other people’s and their own. 
                            They take a long time to make decisions, and seek perfection when accomplishing tasks. They care about every little detail. They are calm and good at finding flaws.
                        <br>
                        <br>
                            Other people might see green personalities as being aloof or insensitive. While it is an important skill to know how to find flaws, green personalities can come off as critical know-it-alls, but that’s what happens when you know it all ! 
                            Green personalities shimmer uniqueness, and should take pride in what makes them unusual.
                        <br>
                        <br>
                            <strong class="characteristics text-center">Characteristics : </strong>
                            <strong>Positive : </strong> Alytical, Efficient, Individual Thinker, Logical, Focused, Innovative, and Attentive. 
                            <strong>Negative : </strong> Critical, Unsympathetic, Overly Cautious, Unrealisitc.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="GreenSpotify text-center">
                            
                        </h1>
                        <br>
                        <iframe src="https://open.spotify.com/embed/album/5iS6VDjeV6KuOu66t1P1bn" width="1100" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin: auto"></iframe>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="greenvideos text-center">Take a gander, here's whats Trending In The Green Room</h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        <div class="container">
            <footer class="text-center">
                Copyright © All Rights Reserved
            </footer>
            <br>
        </div>