<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2 id="welcomeYou">This is our Home Page!</h2>

        <!--
        <h3>----COLORS list here-----</h3>
        <ul id="color-list" class="list-group">
          {{#each colors}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.details}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        <h3>----colors end here--------------</h3>
        -->

        <form action="/colors" method="POST">
          <div class="form-group">
            
            
            <img class="card-img" src="https://m.media-amazon.com/images/S/aplus-media/vc/9b6179da-6475-4e0b-bf16-b791773890ff._SR970,300_.png" alt="Card image">
    <div class="card-img-overlay">
      <div class="jumbotron jumbotron-fluid" style="margin-top: 40%">
        <div class="container">
          <div class="row">
          <div class="col-sm-12">
          <h1 class="display-3">What are your True Colors ?</h1>
          </div>
          </div>
          <form action="/colors" method="POST">
              <br>
              <h3><strong>Survey Says..</strong></h3>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q1">1. You like to influence others to help their lives.</label>
                              <select class="form-control" id="q1">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
                </div>
              <div class="row">
                  <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q2">2. You are an independent thinker.</label>
                            <select class="form-control" id="q2">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                  </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q3">3. You want to maintain organization and handle details.</label>
                              <select class="form-control" id="q3">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q4">4. You are often restless.</label>
                              <select class="form-control" id="q4">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q5">5. You like to work in the arts, education, or helping professions.</label>
                              <select class="form-control" id="q5">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q6">6. You believe that work is play, and you enjoy challenges and find new ways to do standard routines.</label>
                              <select class="form-control" id="q6">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q7">7. You believe that hard work comes before play.</label>
                              <select class="form-control" id="q7">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q8">8. You like your independence and freedom, and utilize your physical coordination.</label>
                              <select class="form-control" id="q8">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                    <div class="col-sm-12">
                          <div class="form-group">
                              <label for="q9">9. You seek balanced relationships and believe in a true romantic, perfect love that will last forever.</label>
                              <select class="form-control" id="q9">
                                  <option value= "" disabled selected>Select An Option</option>
                                  <option value="true">True</option>
                                  <option value="false">False</option>
                              </select>
                          </div>
                    </div>
              </div>
              <div class="row">
                  <div class="col-sm-12">
                      <div class="form-group">
                            <label for="q10">10. You prefer to think, and then let your heart dictate love.</label>
                            <select class="form-control" id="q10">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                      </div>
                  </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q11">11. You are serious and believe in the traditional view of love and marriage, and want to build a long lasting relationship.</label>
                            <select class="form-control" id="q11">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q12">12. You like to share interest and activities with your love interest, and explore new ways to energize your relationship.</label>
                            <select class="form-control" id="q12">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q13">13. You enjoy flowers, candlelight, music, and small gestures of love.</label>
                            <select class="form-control" id="q13">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q14">14. It is difficult to express your feelings, and are you uneasy about emotions.</label>
                            <select class="form-control" id="q14">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
               <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q15">15. You demonstrate love and affection through practical things or deeds.</label>
                            <select class="form-control" id="q15">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q16">16. You believe that giving extravagant gifts brings pleasure to your love interest.</label>
                            <select class="form-control" id="q16">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q17">17. As a kid you had an active imagination.</label>
                            <select class="form-control" id="q17">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q18">18. As a kid, you felt older than your years.</label>
                            <select class="form-control" id="q18">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q19">19. You were organized in school.</label>
                            <select class="form-control" id="q19">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <div class="row">
                   <div class="col-sm-12">
                        <div class="form-group">
                            <label for="q20">20. As a child, you had trouble fitting into the school routine.</label>
                            <select class="form-control" id="q20">
                                <option value= "" disabled selected>Select An Option</option>
                                <option value="true">True</option>
                                <option value="false">False</option>
                            </select>
                        </div>
                    </div>
              </div>
              <button id="submitButton" type="submit" name="action" class="btn btn-primary" data-toggle="modal">Send</button>
          </form>
        </form>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modal">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
          <div class="modal-body">
            <h1 id="userBio">
                <h1 class="lead leader"><h1 id="userName"></h1></strong></h1>
            </h1>

            {{!-- <h1>
              <a href="/colors/gold" id="#navlink" class=" #nav-link btn btn-primary btn-lg active" role="button" aria-pressed="true">Details & More!</a>
            </h1> --}}

          </div>
          </div>
      </div>
  </div>

  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>