        <br>
        <h1 class="headerorange text-center">
                Welcoming All Orange !
            </h1>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Being a part of the orange community means you are laid back, and capable of handling whatever task at hand. They are good with people, and people enjoy their company.  They are the life of the party, and like attention.
                            They want freedom and open spaces in this life, and they want to have a good time. They also care that others are enjoying themselves.
                            These people are always good to have on your team, because someone has got to keep morale high, and keep pushing everyone forward.
                        <br>
                        <br>
                            Sometimes orange people can be opportunistic, and can take advantage. It can be hard to meet other people’s level of concern, becauses of an ability to measure how a situation will turn out. 
                            It can be hard to remain focused, and orange people will often need for inspiration to strike.
                        <br>
                        <br>
                            <strong class="characteristics text-center">Characteristics : </strong>
                            <strong>Positive : </strong> Skillful, Charismatic, Charming, Adventurous, Welcomes Change. 
                            <strong>Negative : </strong> Irresponsible, Unfocused, Manipulative, Indecisive.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="OrangeSpotify text-center">
                            Spotify Playlists That May Interest You and other Oranges around the World
                        </h1>
                        <br>
                        <iframe src="https://open.spotify.com/embed/album/392p3shh2jkxUxY2VHvlH8" width="1100" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media" style="margin: auto"></iframe>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="orangevideos text-center">Here's what the Orange Community Is Watching </h1>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                    <div class="col-md-4">
                        <embed width="300" height="180" src="https://www.youtube.com/v/FjSfelCds6g" type="applicationx/x-shockwave-flash">
                        </embed>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
        <div class="container">
            <footer class="text-center">
                Copyright © All Rights Reserved
            </footer>
            <br>
        </div>